{% extends 'todoapp/base.html' %}
{% load my_filter %}

{% block content %}

<div style="margin-top: 50px;" class="ui container">
    <h1 class="ui center aligned header">Мой менеджер задач</h1>
    <h3 class="test_style">Управляй своим временем!</h3>
    <form class="ui form" action="{% url 'todoapp:add' %}" method="post">
        {% csrf_token %}
        <div class="field">
            <label for="{{ form.title.id_for_label }}">Новая задача</label>
            {{ form.title }}
            <input type="text" name="title" placeholder="Введите название задачи"><br>
        </div>
        <button class="ui teal basic button" type="submit">Добавить</button>
    </form>

</div>

    {% if user.is_authenticated %}
    {% if user.todo_set.count > 0 %}
        {% for todo in user.todo_set.all|order %}
        <div class="ui segment">
            <p class="ui big header">{{ todo.title }}</p>

            {% if not todo.is_complete %}
            <span class="ui gray label">Не завершено</span>
            <a class="ui primary basic button" href="{% url 'todoapp:update' pk=todo.id %}">Закрыть</a>
            {% else %}
            <span class="ui green label">Завершено</span>
            <a class="ui blue button" href="{% url 'todoapp:update' pk=todo.id %}">Открыть</a>
            {% endif %}

        <form method="post" action="{% url 'todoapp:delete' pk=todo.id %}" style="display: inline;">
          {% csrf_token %}
          <button class="ui negative basic button" type="submit">Удалить</button>
        </form>
      </div>
    {% endfor %}
  {% else %}
    <h4>Нет добавленных задач</h4>
  {% endif %}
{% else %}
  <h4>Для просмотра задач вам необходимо войти в систему.</h4>
{% endif %}



{% endblock content %}
