<!doctype html>
{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }} </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">

</head>
<body>
<!-- Navigation -->
<nav class="ui menu">
    <div class="ui container">
        {% if user.is_authenticated %}
        <ul class="last">
        <a href="{% url 'todoapp:index' %}">Главная</a> | <a href="{% url 'users:profile' %}">Профиль</a>
        </ul>
         {% else %}
        <div class="menu">
            <ul class="last">
                <a href="{% url 'todoapp:index' %}">Главная</a> </a>
            </ul>
        </div>

        <div class="right menu">
            <ul class="last">
                <a href="{% url 'users:register' %}">Регистрация</a> | <a href="{% url 'users:login' %}">Войти</a>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>


{% block content %}

{% endblock content %}
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>
</html>